.main-wrapper {
  position: relative;
  width: 100%;
  max-width: 350px;
  background: #ffff;
  overflow: hidden;
  min-height: 620px;
}

.main-wrapper > img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 50px;
}

.main-wrapper .main--wrapper--main {
  border-radius: 60px;
  padding: 30px;
  width: 100%;
  height: 600px;
  object-fit: cover;
  background: #fff;
  overflow: scroll;
  margin: 20px 0;
}

.main-wrapper .main--wrapper--secondary {
    border-radius: 60px;
    padding: 30px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    background: #00575F;
    overflow: scroll;
    margin: 20px 0;
  }

.main-wrapper main::-webkit-scrollbar {
  width: 0.5em;
}

.main-wrapper main::-webkit-scrollbar-thumb {
  background-color: transparent;
}
